/*	01.	Default Css
===========================================*/
body{
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
  position: relative;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}
h1{
	font-size: 42px;
	line-height: 56px;
	font-weight: 800;
}
h2{
	font-size: 32px;
	line-height: 44px;
	font-weight: 800;
}
h3{
	font-size: 24px;
	line-height: 36px;
	font-weight: 800;
}
h4{
	font-size: 21px;
	line-height: 32px;
	font-weight: 800;
}
h5{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}
h6{
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover, a:focus{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
}
p{
	margin: 0;
	padding: 0;
}
.letter-spacing-1{
    letter-spacing: 1px;
}
.letter-spacing-2{
    letter-spacing: 2px;
}
.btn,
.btn:hover,
.btn:focus,
button:focus{
    box-shadow: none !important;
    outline: none;
}
img {
    width: 100%
}
.btn{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 10px 40px;
	font-size: 16px;
	letter-spacing: 1px;
	border: 2px solid transparent;
	border-radius: 0
}
.btn-link{
    font-style: italic;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before{
	margin-left: 0px !important; 
}
.flat-font-40 i:before{
    font-size: 40px;
    line-height: 40px;
}
.flat-font-32 i:before{
    font-size: 32px;
    line-height: 32px;
}
.form-control:focus{
    background-color: transparent !important;
}
#top-nav{
  height: 60px;
}
.nav-on-top{
  animation-fill-mode: both;
  width: 100%;
  z-index: 999;
  top: 0;
  position: fixed;
}
.nav-on-banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
/* 02.  Default Margin and Padding
===========================================*/
.py-80{
	padding-top: 80px;
	padding-bottom: 80px;
}
.pt-60, 
.py-60{
	padding-top: 60px;
}
.pb-60, 
.py-60{
	padding-bottom: 60px;
}
.pt-50,
.py-50{
	padding-top: 50px;
}
.pb-50,
.py-50{
	padding-bottom: 50px;
}
.pl-50,
.px-50{
	padding-left: 50px;
}
.pr-50,
.px-50{
	padding-right: 50px;
}
.p-30{
    padding: 30px;
}
.pl-30,
.px-30{
	padding-left: 30px;
}
.pr-30,
.px-30{
	padding-right: 30px;
}
.pt-30,
.py-30{
    padding-top: 30px;
}
.pb-30,
.py-30{
	padding-bottom: 30px;
}
.pb-40{
	padding-bottom: 40px
}
.p-15,
.pt-15,
.py-15{
  padding-top: 15px
}
.p-15,
.pb-15,
.py-15{
  padding-bottom: 15px;
}
.p-15,
.pl-15,
.px-15{
  padding-left: 15px;
}
.p-15,
.pr-15,
.px-15{
  padding-right: 15px;
}
.p-10,
.pt-10,
.py-10{
  padding-top: 10px
}
.p-10,
.pb-10,
.py-10{
  padding-bottom: 10px;
}
.p-10,
.pl-10,
.px-10{
  padding-left: 10px;
}
.p-10,
.pr-10,
.px-10{
  padding-right: 10px;
}
.p-5,
.pt-5,
.py-5{
  padding-top: 5px !important;
}
.p-5,
.pb-5,
.py-5{
  padding-bottom: 5px !important;
}
.p-5,
.pl-5,
.px-5{
  padding-left: 5px !important;
}
.p-5,
.pr-5,
.px-5{
  padding-right: 5px !important;
}
.mt-50,
.my-50{
    margin-top: 50px;
}
.mb-50,
.my-50{
    margin-bottom: 50px;
}
.mt-30,
.my-30{
	margin-top: 30px !important;
}
.mb-30,
.my-30{
	margin-bottom: 30px;
}
.ml-30,
.mx-30{
    margin-left: 30px;
}
.mr-30,
.mx-30{
    margin-right: 30px;
}
.mt-20,
.my-20{
	margin-top: 20px;
}
.mb-20,
.my-20{
    margin-bottom: 20px;
}
.mt-15,
.my-15{
	margin-top: 15px;
}
.mr-10,
.mx-10{
	margin-right: 10px;
}
.ml-10,
.mx-10{
	margin-left: 10px;
}
.mb-15,
.my-15{
	margin-bottom: 15px;
}
.mb-5,
.my-5{
	margin-bottom: 5px !important;
}

.navbar-brand img{
	width: 150px;
    margin: 7px 0px 6px;
}
/* 03.  Contact
========================================*/
.form-control{
    background: none;
    font-size: 13px;
    line-height: 36px;
    height: auto;
    padding: 0 15px;
    border-radius: 0px;
}
.form-control:focus{
    box-shadow: none;
}
.error-handel{
  position: relative;
}
.error-handel:before{
  bottom: -30px;
  display: table;
  height: 35px;
  left: 15px;
  margin: auto 0;
  position: absolute;
  text-align: left;
  width: 100%
}
#success, #error{
  display: none;
  line-height: 34px
}
.contact-message label.error{
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0;
}
#success, #error {
  display: none;
  line-height: 34px
}
#success {
  color: #31bb15
}

/* 04. Blog Details
==========================================*/
.banner{
    padding-top: 50px;
    padding-bottom: 110px;
}
.breadcrumb{
    background-color: transparent;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding: 15px 0 0 0;
}
.breadcrumb li{
    font-family: 'Montserrat', sans-serif;
    float: left;
    padding: 0px 5px;
    font-weight: 500;
}
.blockquote{
    font-size: 21px;
    line-height: 32px;
}
.text-area .tag{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 0px;
}
.comment{
    border-bottom: 1px solid;
}
.comment-text span{
    font-size: 14px;
}
.comment-avater{
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 100%;
  border: 5px solid;
}

/* 05.  Main Menu sticky
==================================*/
@keyframes menu_sticky {
    0% {
        margin-top: -100px;
    }

    50% {
        margin-top: -90px;
    }

    100% {
        margin-top: 0;
    }
}

header.nav-scroll {
    animation-duration: 1s;
    animation-name: menu_sticky;
    animation-timing-function: ease-out;
}
